
*.log
*.cht
HDD_ART_Batcher/OpenPS2Loader_Widescreen_Cheats/
HDD_ART_Batcher/BAT/.wget-hsts
HDD_PFS_Batch_Kit_Manager/BAT/.wget-hsts
HDD_PFS_Batch_Kit_Manager/hdl_hdd/BAT/.wget-hsts
HDD_PFS_Batch_Kit_Manager/hdl_hdd/APPS/**.*
HDD_PFS_Batch_Kit_Manager/hdl_hdd/POPS/**.*
HDD_PFS_Batch_Kit_Manager/hdl_hdd/ART/**.*
HDD_PFS_Batch_Kit_Manager/hdl_hdd/CHT/**.*
HDD_PFS_Batch_Kit_Manager/hdl_hdd/CFG/**.*
HDD_PFS_Batch_Kit_Manager/hdl_hdd/VMC/**.*
HDD_PFS_Batch_Kit_Manager/hdl_hdd/TMP/**.*
HDD_PFS_Batch_Kit_Manager/hdl_hdd/THM/**.*



